.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    margin-bottom: 3em;
}

.paginationSkeleton {
    min-height: 2em;
    max-width: 9em;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.skeleton {
    background: linear-gradient(
            90deg,
            #e5e7eb 25%,
            #f3f4f6 37%,
            #e5e7eb 63%
    );
    background-size: 400% 100%;
    animation: shimmer 1.4s ease infinite;
    border-radius: 4px;
}

.gallerySkeleton {
    min-width: 60dvw;
    aspect-ratio: 2 / 1;
    border-radius: 6px;
    margin: 0 auto;
}

.textContent {
    min-width: 52dvw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.titleSkeleton {
    height: 2rem;
    width: 100%;
}

.dateSkeleton {
    height: 1.5rem;
    width: 30%;
}

.textSkeleton {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

.textSkeleton .skeleton {
    display: block;
    height: 1.25em;
    width: 60dvw;
}

@keyframes shimmer {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

@media (min-width: 640px) {
    .textContent {
        font-size: 1rem;
    }

    .gallerySkeleton {
        aspect-ratio: 3/1;
    }
}