.container {
    position: relative;
    height: 100dvh;
}

.bgVideo {
    position: absolute;
    width: 100%;
    height: 100dvh;
    right: 0;
    top: 0;
    object-fit: cover;
    transform: translateZ(0);
}

.cover {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.17);
    color: #f4f4f4;
    z-index: 1;
}

.cover h1 {
    font-size: 3em;
    margin: 2em 1em;
    text-align: center;
}