.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container h1 {
    margin: 1.5em auto;
    padding: 0 0.5em;
    text-align: center;
    color: var(--main-blue--dark);
}

.pdfContainer {
    margin-inline: clamp(0.5em, 10dvw, calc((100vw - 80dvw) / 2));
    height: 85dvh;
    border: none;
    display: block;
}

.viewer {
    width: 100%;
    height: 80vh;
}

.pdf {
    width: 100%;
    height: 100%;
    border: none;
}

/* Fullscreen mode */
:fullscreen .viewer {
    height: 100vh;
}

.callUs {
    margin: 1.5em auto 0 auto;
    text-align: center;
}

.arrow {
    margin: 1.5em auto;
}

.arrow svg {
    width: 3em;
    height: 3em;
    cursor: pointer;
}

.scrollPoint {
    position: relative;
    bottom: 3em;
}