.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container h1 {
    margin: 1.5em auto 0.5em auto;
    padding: 0 0.5em;
    text-align: center;
    color: var(--main-blue--dark);
}

.pdfContainer {
    width: min(70em, 80dvw);
    height: 100%;
    margin: 1.5em auto;
}

.pdfContainer :global(.rpv-core__viewer) {
    height: 100dvh !important;
}

.callUs {
    margin: 1.5em auto 0 auto;
    text-align: center;
}

.arrow {
    margin: 1.5em auto;
}

.arrow svg {
    width: 3em;
    height: 3em;
    cursor: pointer;
}

.scrollPoint {
    position: relative;
    bottom: 3em;
}