@font-face {
    font-family: 'Onest';
    src: url('/public/fonts/Onest/static/Onest-Medium.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Onest';
    src: url('/public/fonts/Onest/Onest-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Onest';
    src: url('/public/fonts/Onest/static/Onest-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@property --main-black {
    syntax: "<color>";
    inherits: false;
    initial-value: #444;
}


@property --main-blue {
    syntax: "<color>";
    inherits: false;
    initial-value: #6896ca;
}

@property --main-blue--dark {
    syntax: "<color>";
    inherits: false;
    initial-value: #002e48;
}

@property --main-yellow {
    syntax: "<color>";
    inherits: false;
    initial-value: #f6d400;
}

@property --gray {
    syntax: "<color>";
    inherits: false;
    initial-value: #e5e9ec;
}

root {
    font-size: 14px;
}

body {
    font-family: 'Onest', sans-serif;
}

.Home {
    margin-top: -14dvh;
}

.content {
    transition: transform 0.5s ease-in-out;
}

.moveContent {
    transform: translateX(-20em);
}



/* Mobile styles */
@media (max-width: 768px) {

}

/* Tablet styles */
@media (max-width: 1024px) {
    root {
        font-size: 16px;
    }
}

/* Very large screens*/
@media (min-width: 1400px) {
    root {
        font-size: 18px;
    }
}