.container {
    color: var(--main-black);
    margin: 2em 0;
    padding: 0 1.5em;
}

.mainLogo {
    display: block;
    width: 8em;
    margin: 0 auto;
}

.container h2 {
    font-size: 1.25rem;
    width: fit-content;
    margin: 2em auto;
    text-align: center;
}

.container p {
    text-align: center;
    max-width: 50em;
    margin: 0 auto 2em auto;
}

.container button {
    display: block;
    width: fit-content;
    padding: 1em 2em;
    border: var(--main-black) 2px solid;
    background-color: #f4f4f4;
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.3s ease;
}

.container button:hover {
    background-color: #000000;
    border-color: #000000;
    color: #f4f4f4;
}